<div class="hero">

  <div class="hero__inner">
    <div class="container text--center">
      <div class="vpad--xxxl">

        <div class="hero__logo"></div>
        <div class="space--lg"></div>

        <div class="width width--xl">
          <p class="text--xxl">{{site.description}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- site nav -->
  <div class="hero__nav container">
  {% for section in site.data.categories %}
    <div class="hero__nav-item hero__nav-{{section.id}}" style="background-image: url({{site.img}}/category/{{section.id}}/nav.jpg);">
      <a href="#{{section.id}}" class="hero__nav-link">
        {{section.title}}
      </a>
    </div>
  {% endfor %}
  </div>

</div>