<div class="hero">

  <div class="hero__inner">
    <div class="container container--no-padding text--center">
      <div class="vpad--xxxl">

        <div class="hero__logo"></div>
        <div class="space--lg"></div>

        <div class="width width--xl">
          <p class="text--xxl">We’re all in this together. Staying indoors is hard, so to make things a little easier, we’ve handpicked some of our favourite apps and activities that can help you pass the time - your daily dose of escapism. We also know that you’re still dreaming about travel, and we don’t want that to stop. So, by taking advantage of this time at home, we’ll give you credit toward a future getaway.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- site nav -->
  <div class="hero__nav container">
    <ul class="row row--no-gutters">
      {% for section in site.data.categories %}
      <li class="col col--2">
        <div class="hero__nav-item" style="background-image: url({{site.img}}/categories/{{section.id}}/nav.jpg);">
          <a href="#{{section.id}}" class="hero__nav-link">
            {{section.title}}
          </a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>