---
layout: default
id: overview
title: Daily Escapes
---

{% include page/banner.html %}

{% assign sections = site.data.categories %}
{% assign products = site.data.products %}
{% assign articles = site.data.articles %}
{% assign comments = site.data.comments %}

<div class="bg--grey-lightest vpad--xxl">
  {% for section in sections %}
  <div class="container" id="{{section.id}}">
    <div class="width width--xl text--center">
      <h2 class="title title--xl title--serif">{{section.title}}</h2>
      <p class="text--xl">{{section.description}}</p>
    </div>
    <div class="space--xl"></div>

    <div class="row row--match-height">
      {% assign product = products | where: 'category', section.id %}
      {% if product.size > 0 %}
        {% for item in product %}
          <div class="col col--12">
            {% include cards/product.html %}
          </div>
        {% endfor %}
      {% endif %}

      {% assign article = articles | where: 'category', section.id %}
      {% if article.size > 0 %}
        {% for article in article %}
          <div class="col col--6">
            {% include cards/article.html %}
          </div>
        {% endfor %}
      {% endif %}

      {% assign comment = comments | where: 'category', section.id %}
      {% if comment.size > 0 %}
        {% for comment in comment %}
          <div class="col col--6">
            {% include cards/comment.html %}
          </div>
        {% endfor %}
      {% endif %}
    </div>

  </div>
  {% endfor %}
</div>
