

<div class="product card">
  <a href="javascript:void(0);" class="product__link js-open-modal" data-modal-item="{{item.id}}"></a>
  <div class="product__hero bg--white">
    <div class="product__hero-content">
      <h2 class="title title--lg text--bolder">
        <div class="icon product__hero-icon" style="background-image: url({{site.img}}/product/{{item.id}}/icon.jpg);"></div>
        {{item.product.name}}
      </h2>
      <p class="text--xxxxl">{{item.product.tagline}}</p>
    </div>
    <div class="product__hero-bg" style="background-image: url({{site.img}}/product/{{item.id}}/bg.jpg);"></div>
  </div>

  <div class="product__incentive bg--grey-darkest{% if item.product.low-contrast %} text--black{% else %} text--white{% endif %}" style="background-color: {{item.product.color}};">
    <div class="row row--valign-center">
      <div class="col col--lg-9">
        <p class="text--xxl text--bold">{{item.incentive}}</p>
      </div>
      <div class="col col--lg-3 product__incentive-cta">
        <a href="javascript:void(0);" class="btn btn--sm btn--outline {% if item.product.low-contrast %} btn--outline-black{% else %} btn--outline-white{% endif %}">Learn more</a>
      </div>
    </div>
  </div>
</div>