

.card {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 6px 0 rgba($grey-darkest,0.1);
  @include transition;
  &:hover { box-shadow: 0 3px 12px 0 rgba($grey-darkest,0.2); }
  &--flat {
    box-shadow: 0 0 1px 1px rgba($grey-darkest,0.1);
    &:hover { box-shadow: 0 0 1px 1px rgba($grey-darkest,0.1); }
  }
}

.icon {
  @include background-attributes;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba($grey-darkest,0.2);
}


.product {
  position: relative;
  &__link {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 2;
  }
  &__hero {
    position: relative;
    &-content {
      z-index: 1;
      position: relative;
    }
    &-icon {
      margin-right: $s-2;
      height: $s8; width: $s8;
    }
    &-bg {
      @include background-attributes;
      position: absolute;
      left: 33%; right: 0;
      top: 0; bottom: 0;
      z-index: 0;
      background-color: $grey-light;
      &:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        left: 0; top: 0; bottom: 0;
        width: 50%;
        background: -moz-linear-gradient(left,  rgba($white,1) 0%, rgba($white,0) 100%);
        background: -webkit-linear-gradient(left,  rgba($white,1) 0%,rgba($white,0) 100%);
        background: linear-gradient(to right,  rgba($white,1) 0%,rgba($white,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
      }
    }
  }
  &__incentive {}
}


.article {
  position: relative;
  &__link {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 2;
  }
  &__meta {
    &-separator { color: $grey-lighter; margin: 0 $s0; }
  }
}



.comment {
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  &__icon {
    background-image: url('../img/icons/comment.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40%;
    max-width: 70px;
    margin-left: auto; margin-right: auto;
    margin-bottom: $s2;
    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 100%;
    }
  }
}

